body{
    background-color: white;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    font-size: large;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}