body{
    background-color: rgb(255, 255, 250);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-style: italic;
}
td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    font-style: italic;
}
a{
    color: darkviolet;
}